@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  --blue : #219F94;
  --green : #C1DEAE;
  --white : #F2F5C8;
  --yellow : #E8E8A6;
  --orange : #FFAB76;
}


*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.body{
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(250px,10%)1fr;
  margin: 32px;
  width: 100%;
  margin: auto;
  background: var(--yellow);
}

.actions{
  padding: 8px;
}

.actions>div{
  margin-bottom: 8px;
  text-align: center;
}


.map{
  display: grid;
  grid-template-columns: repeat(20,1fr);
  position: relative;
  overflow: scroll;
  max-height: 100vh;
}


.square{
  background: var(--white);
  border: 0.5px solid var(--green);
  cursor: pointer;
  min-width: 50px;
  min-height: 50px;
  text-align: center;
}

.square.active{
  border : 0.5px solid black;
}

.square.blue {
  background: blue;
}

.square.red{
  background: red;
}

.square.yellow {
  background: yellow;
}

.square.green{
  background: green;
}

.square .assets{
  display: flex;
  justify-content: space-between;
  color : white;
  font-weight: bold;
  text-align: center;
  font-size: 12px;
  padding: 4px;
}

.buttons{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}


.buttons button.hidden{
  opacity: 0;
  visibility: hidden;
}

.buttons button{
  display: inline-block;
  padding: 8px;
  border-radius: 8px;
  background: var(--blue);
  text-align: center;
  color : var(--white);
  text-decoration: none;
  width: 75%;
  margin: auto;
  margin-bottom: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}

.buttons .end-turn{
  background: var(--orange)
}
